body {
    font-family: 'Josefin Slab', serif;
    background-color: #EEEEEE;
}

.twitter-share-button {
    margin: 10px 10px 10px 10px;
}
h1 {    
    font-family: 'Fredericka the Great', cursive;
}
