body {
    font-family: 'Josefin Slab', serif;
    background-color: white;
}

#tweet-quote {
    
    
}

#tweet-icon {
    background-image: url("./twitter.png");
    background-size: cover;
    cursor: pointer;
    border: 1px solid #222;
    opacity: 0.6;
    border-radius: 5px;
    background-image: url("./twitter.png");
    background-size: cover;
    height: 40px;
    width: 40px;
}

#title {    
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#quote-container {
    background-color: #EEEEEE;
    padding: 20px 40px 20px 40px;
    border-radius: 2px;

    -webkit-box-shadow: 10px 10px 10px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 10px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 10px -10px rgba(0,0,0,0.75);
}

#text {
    font-size: 2em;
    text-align: left;
    margin: 10px;
    margin-bottom: 0px;
}

#author {
    margin: 10px;
}

#new-quote {
    /*display: block;
    float: right;
    clear: right;*/
}

#botonera-container {
    margin-top: 5px;
}